# Tian-gateway configuration
server:
  port: 8090

spring:
  redis:
    port: 6379
    host: localhost
    password: qq3216841
    database: 0
  cloud:
    gateway:
      routes:
        - id: path_route
          uri: https://www.bilibili.com/video/BV1Vv4y1o7z4/
          predicates:
            - Path=/daoxiang/**
        - id: api_route
          uri: http://localhost:8123/
          predicates:
            - Path=/api/**
#        - id: after_route
#          uri: https://www.bilibili.com/
#          predicates:
#            - After=2017-01-20T17:42:47.789-07:00[America/Denver]

# 日志打印配置
logging:
  level:
    org:
      springframework:
        cloud:
          gateway: TRACE


